In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import keras

In [18]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/creditcard.csv')
df.head(1)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0

In [19]:
df['Class'].unique() # 0 = no fraud, 1 = fraudulent

array([0, 1])

In [20]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [21]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.1, random_state=1)

In [22]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [23]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [24]:
clf = Sequential([
    Dense(units=16, kernel_initializer='uniform', input_dim=30, activation='relu'),
    Dense(units=18, kernel_initializer='uniform', activation='relu'),
    Dropout(0.25),
    Dense(20, kernel_initializer='uniform', activation='relu'),
    Dense(24, kernel_initializer='uniform', activation='relu'),
    Dense(1, kernel_initializer='uniform', activation='sigmoid')
])

In [25]:
clf.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 16)                496

 dense_6 (Dense)             (None, 18)                306

 dropout_1 (Dropout)         (None, 18)                0

 dense_7 (Dense)             (None, 20)                380

 dense_8 (Dense)             (None, 24)                504

 dense_9 (Dense)             (None, 1)                 25

=================================================================
Total params: 1711 (6.68 KB)
Trainable params: 1711 (6.68 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [26]:
clf.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [27]:
clf.fit(X_train, Y_train, batch_size=15, epochs=2)

Epoch 1/2
17089/17089 [==============================] - 41s 2ms/step - loss: 0.0072 - accuracy: 0.9990
Epoch 2/2
17089/17089 [==============================] - 42s 2ms/step - loss: 0.0036 - accuracy: 0.9994

In [28]:
score = clf.evaluate(X_test, Y_test, batch_size=128)
print('\nAnd the Score is ', score[1] * 100, '%')

223/223 [==============================] - 0s 2ms/step - loss: 0.0045 - accuracy: 0.9992

And the Score is  99.91573095321655 %

In [29]:
fraudulent_count = (Y_test == 1).sum()
not_fraudulent_count = (Y_test == 0).sum()
print(f'Fraudulent transactions: {fraudulent_count}')
print(f'Non-fraudulent transactions: {not_fraudulent_count}')

Fraudulent transactions: 49
Non-fraudulent transactions: 28432